header{
    padding: 2%;
}

body {
    background-color: #e5e5e5;
}

main {
    display:inline-flex;
    height: fit-content;
    background-color: #e5e5e5;
}

section{
    display: block;
    max-width: max-content;
    padding-bottom: 5%;
}

div{
    vertical-align: top;
    width: fit-content;

}

.input-texto{
    vertical-align: top;
    position: relative;
    width: 90%;
}
.mensaje{
    height: max-content;
    position: relative;
    vertical-align: top;
    background-color: #ffffff;
    background-image: url("Imagenes/Muñeco.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.botones{
    display: flex;
    position: relative;
    box-sizing: content-box;
    margin-top: 5%;
}
div.textarea{
    width: 90%;
}

.encriptar{
    background-color: darkblue;
    color: white;
}
.desencriptar{
    margin-left: 0;
}
.informacion{
    font-size: 15px;
}